<footer class="footer text-center position-fixed bottom-0 w-100 bg-light py-3">
    <div class="container">
        <span class="text-muted">Desenvolvido por <a href="https://github.com/Benevanio" target="_blank"> @Bene_Tesla_Dev</a></span>
    </div>
</footer>
